/*Color al fondo*/
body{
    margin: 0;
    background-color: cadetblue;
}
/*Crear un grid para usarlo en el formulario, asi mismo como color de fondo*/
.formulario{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgb(8, 137, 38);
    text-align: center;
    margin: auto;
    border-top: 2px solid black;
    border-left:2px solid black ;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    max-width: 50%;
}
/*Darle un tamaÃ±o de fuente al label*/
label{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Darle un tamaÃ±o de fuente al titulo y color*/
.title{
    font-size: 30px;
    color: gold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input:hover{
color: blueviolet;
}